---
import RenderMeta from './internal/meta/render-meta.astro';
import { LoadResult } from './internal/router';
import { Renderer } from './router';

interface Props extends LoadResult<any> {

}

---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <RenderMeta {...(Astro.props.data ?? {})} />
  </head>
  <body>
    <div class="flex items-center justify-center bg-gradient-to-l from-sky-400 to-indigo-600 min-h-screen">
      <Renderer
        client:load
        data={Astro.props.data}
        pathname={Astro.url.pathname}
        search={Astro.url.search}
      />
    </div>
  </body>
</html>
